<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/wwwroot/css")
    @RenderSection("styles", required: false)
</head>

<body>
    <div id="wrapper">
        @Html.Partial("_Navigation");
        @*Navigation*@
        @*@Html.Partial("_SideNavigation")*@

        @*Content*@
        <div id="page-wrapper">
            @RenderBody()
            @*Footer*@
            @Html.Partial("_Footer");
        </div>

    </div>

    @section scripts{

    }

    @Scripts.Render("~/wwwroot/js")
    @RenderSection("scripts", required: false)
    
</body>
</html>
