@using Project_Tranquility.Web.Extensions

@if (Request.IsAuthenticated)
{
    <li>Logged in as: @User.Identity.GetUserName()</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="@Url.Action("Index", "Manage")"><i class="fa fa-user fa-fw"></i>User Profile</a>
            </li>
            <li class="divider"></li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                }
                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                @Html.ActionLink("Register", "Register", "Account")
            </li>
            <li class="divider"></li>
            <li>
               @Html.ActionLink("Login", "Login", "Account")
            </li>
        </ul>
    </li>
}