<nav class="light-blue lighten-1" role="navigation">

    <ul id="loginDropdown" class="dropdown-content">
        @if (Request.IsAuthenticated)
        {
            <li><a href="@Url.Action("Index", "Manage")">User Profile</a></li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                }
                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Register", "Register", "Account")
            </li>
            <li>
                @Html.ActionLink("Login", "Login", "Account")
            </li>
        }
    </ul>

    <div class="nav-wrapper container">
        <a style="margin-left:80px;" id="logo-container" href="@Url.Action("Index", "Home")" class="brand-logo">Project Tranquility</a>
        <ul class="left hide-on-med-and-down">
            <li><a id="sideMenu" data-activates="slide-out"><i class="material-icons">menu</i></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            @*<li><a href="@Url.Action("Index", "ProjectManager")">Project Manager</a></li>*@
            @if (Request.IsAuthenticated)
            {
                <li>Logged in as @User.Identity.Name</li>
            }
            else
            {
                <li><a class="dropdown-button" href="#" data-activates="loginDropdown">Login<i class="material-icons right">perm_identity</i></a></li>
            }
        </ul>
    </div>
</nav>

<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="~/wwwroot/images/patterns/footer_lodyas.png">
            </div>
            <a href="#"><img class="circle" src="~/wwwroot/images/Tcoin2.png"></a>
            @if (Request.IsAuthenticated)
            {
                <a href="#"><span class="white-text name">@User.Identity.Name</span></a>
                <a class="dropdown-button" href="#" data-activates="loginDropdown"><span class="white-text email">Account</span></a>
            }
            else
            {
                <br />
            }
        </div>
    </li>
    @*<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>*@
    @*<li><a class="waves-effect" href="@Url.Action("Index", "ProjectManager")">Project Manager</a></li>*@
    <li><a class="waves-effect" href="@Url.Action("Index", "ProjectManager")">Project Manager</a></li>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Developer") || User.IsInRole("Admin"))
        {
            <li><div class="divider"></div></li>
            <li><a class="subheader">Admin Functions</a></li>
            <li><a class="waves-effect" href="@Url.Action("Index", "UsersAdmin")">Users</a></li>
        }

        if (User.IsInRole("Developer"))
        {
            <li><div class="divider"></div></li>
            <li><a class="subheader">Developer Functions</a></li>
            <li><a class="waves-effect" href="@Url.Action("Index", "RolesAdmin")">Roles</a></li>
        }
    }
</ul>