@model Project_Tranquility.Web.Models.AdminViewModels.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}


<div class="section">
    <h4>@ViewBag.Title</h4>
    <div class="row">
        <div class="col s12">
            @using (Html.BeginForm("Edit", "UsersAdmin", FormMethod.Post, new { @class = "col s6" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <form class="col s6">
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.EditorFor(m => m.Email, new { @class = "Validate" })
                            @Html.LabelFor(m => m.Email)
                        </div>
                    </div>
                    @Html.Label("Roles")
                    <div class="row">
                        <div class="input-field col s12">
                            @foreach (var item in Model.RolesList)
                            {
                                <input id="@item.Value" type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" />
                                <label for="@item.Value">@item.Value</label>
                                <br />
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a href="@Url.Action("Index", "UsersAdmin")" class="btn red">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
}
