@model Project_Tranquility.Web.Models.ProjectManagerViewModels.IndexViewModel

@{
    ViewBag.Title = "ProjectManager";
    var pageIndex = (int)ViewBag.pageIndex;
}


<div class="row">
    <div class="col s12">
        <table class="table striped bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Staff Name</th>
                    <th>Depart Name</th>
                    <th>Creation Date</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.Tasks)
                {
                    <tr>
                        <td>@task.Id</td>
                        <td>@task.Name</td>
                        <td>@task.Description</td>
                        @if (task.Staff != null)
                        {
                            <td>@task.Staff.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (task.Department != null)
                        {
                            <td>@task.Department.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@task.CreationDate</td>
                        @switch (task.Status)
                        {
                            case Project_Tranquility.Core.DomainModels.Status.New:
                                <td style="background-color:blue;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                break;
                            case Project_Tranquility.Core.DomainModels.Status.InProgress:
                                <td></td>
                                <td style="background-color:yellow;"></td>
                                <td></td>
                                <td></td>
                                break;
                            case Project_Tranquility.Core.DomainModels.Status.Completed:
                                <td></td>
                                <td></td>
                                <td style="background-color:green;"></td>
                                <td></td>
                                break;
                            case Project_Tranquility.Core.DomainModels.Status.AwaitingApproval:
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color:red;"></td>
                                break;
                            default:
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                break;
                        }
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Tasks.Count > 0)
        {
            <ul class="pagination right">
                @if (Model.Tasks.HasPreviousPage)
                {
                    <li><a href="@Url.Action("Index", "ProjectManager", new { pageIndex = pageIndex - 1 })"><i class="material-icons">chevron_left</i></a></li>
                }
                else
                {
                    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                }
                @for (int i = 1; i < Model.Tasks.TotalPageCount + 1; i++)
                {
                    if (i == pageIndex)
                    {
                        <li class="active"><a href="@Url.Action("Index", "ProjectManager", new { pageIndex = i })">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "ProjectManager", new { pageIndex = i })">@i</a></li>
                    }
                }

                @if (Model.Tasks.HasNextPage)
                {
                    <li><a href="@Url.Action("Index", "ProjectManager", new { pageIndex = pageIndex + 1 })"><i class="material-icons">chevron_right</i></a></li>
                }
                else
                {
                    <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                }
            </ul>
        }
    </div>
</div>