@model Project_Tranquility.Web.Models.TaskViewModel

@{
    ViewBag.Title = "ProjectManager";
    var pageIndex = (int)ViewBag.pageIndex;
}


<div class="row">
    <div class="col-md-12">
        <h2>Index</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Staff Name</th>
                    <th>Depart Name</th>
                    <th>Creation Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.Tasks)
                {
                    <tr>
                        <td>@task.Id</td>
                        <td>@task.Name</td>
                        <td>@task.Description</td>
                        @if (task.Staff != null)
                        {
                            <td>@task.Staff.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (task.Department != null)
                        {
                            <td>@task.Department.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@task.CreationDate</td>
                        <td>@task.Status</td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Tasks.Count > 0)
        {
            <ul class="pagination pull-right">
                @if (Model.Tasks.HasPreviousPage)
                {
                    <li><a href="@Url.Action("Index", "ProjectManager", new { pageIndex = pageIndex - 1 })">Previous</a></li>
                }
                @for (int i = 1; i < Model.Tasks.TotalPageCount; i++)
                {
                    if (i == pageIndex)
                    {
                        <li class="active"><a href="@Url.Action("Index", "ProjectManager", new { pageIndex = i })">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "ProjectManager", new { pageIndex = i })">@i</a></li>
                    }
                }

                @if (Model.Tasks.HasNextPage)
                {
                    <li><a href="@Url.Action("Index", "ProjectManager", new { pageIndex = pageIndex + 1 })">Next</a></li>
                }
            </ul>
        }
    </div>
</div>