@model Project_Tranquility.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@using Project_Tranquility.Core.DomainModels.Identity

@{
    var loginProviders = Model.LoginProviders;
    if (loginProviders.Count() == 0)
    {
    }
    else
    {

        <h4>Use another service to log in.</h4>
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (ApplicationAuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
