@model Project_Tranquility.Web.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="section">
    <h4>@ViewBag.Title</h4>
    <p class="flow-text">Please enter your email below</p>
    <div class="row">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "col s6" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "red-text" })

            <div class="row">
                <div class="input-field col s12">
                    @Html.EditorFor(m => m.Email, new { @class = "validate" })
                    @Html.LabelFor(m => m.Email)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="submit" class="btn waves-effect" value="Send Email" />
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
}
