@model Project_Tranquility.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="section">
    <h4>@ViewBag.Title</h4>
    <div class="row">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col s6" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "red-text" })

            <form class="col s6">

                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(m => m.Email, string.Empty, new { @class = "Validate" })
                        @Html.LabelFor(m => m.Email)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(m => m.Password, string.Empty, new { @class = "Validate" })
                        @Html.LabelFor(m => m.Password)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input class="btn waves-effect" type="submit" value="Login" />
                    </div>
                </div>
            </form>
        }
        <div class="col s6">
            <div class="row">
                @Html.Partial("_ExternalLoginsListPartial", new Project_Tranquility.Web.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl, LoginProviders = ViewBag.LoginProviders })
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <a href="@Url.Action("Register", "Account")">Register</a>
                <br />
                <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password</a>
            </div>
        </div>

       

    </div>
</div>
@section Scripts {
}