@model Project_Tranquility.Web.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="section">
    <div class="row">
        <h4>@ViewBag.Title.</h4>
    </div>
    <div class="row">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "col s6" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "red-text" })
            @Html.HiddenFor(model => model.Code)
            <form class="col s6">
                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(m => m.Email, new { @class = "Validate" })
                        @Html.LabelFor(m => m.Email)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(m => m.Password, new { @class = "Validate" })
                        @Html.LabelFor(m => m.Password)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(m => m.ConfirmPassword, new { @class = "Validate" })
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="submit" class="btn waves-effect" value="Reset" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {
}
