@model IEnumerable<Project_Tranquility.Core.DomainModels.Identity.ApplicationRole>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
